{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_6.css' %}">
    <link id="dynamic-css" rel="stylesheet" href="{% static 'dynamic_blue.css' %}">
    <link rel="stylesheet" href="{% static 'story_9.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Js & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_9.js' %}"></script>

    <title>Tw@ter</title>
  </head>

  <body>

    <div class="container animate-bottom">

      <div class="d-flex flex-row">
        <div class="fav-box col-auto justify-content-end bg-primary">
          Favorite: <span id="fav_count">0</span>
        </div>
      </div>
      <div class="row section mx-0 my-3 p-3 justify-content-center">
      {% comment %} Search Bar START {% endcomment %}
      <div class="d-flex col-12 justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
              <div class="card card-sm">
                  <div class="card-body row no-gutters align-items-center">
                      <div class="col-auto">
                          <i class="fas fa-search h4 text-body"></i>
                      </div>
                      <!--end of col-->
                      <div class="col">
                          <input id="search-bar" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Search topics or keywords">
                      </div>
                      <!--end of col-->
                      <div class="col-auto">
                          <button id="search-btn" class="btn btn-lg btn-success" type="submit">Search</button>
                      </div>
                      <!--end of col-->
                  </div>
              </div>
          </div>
          <!--end of col-->
      </div>
      {% comment %} Search Bar END {% endcomment %}
        <div class="col">
          {% comment %} <div class="row py-2 justify-content-center">
            <div class="col-12 col-md-3 col-lg-2 border text-center">
              <img class="img-fluid" src="https://books.google.com/books/content?id=wVVv5X5QE-EC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
            </div>
            <div class="col-12 col-md-7 border">
              Machine Quilting With Alex Anderson (2010)<br>
              by: Alex Anderson
              <p>Machine Quilti ng Is a Snap When Alex Shows You How! 7 exercises 
              and 7 projects teach you everything from easy straight-line quilting 
              to stippling to more complex motifs.</p>
            </div>
            <div class="col-12 col-md-2 border">              
              Add to Favorite
            </div>
          </div> {% endcomment %}
        <div>
      </div>
    </div>

  </body>

</html>
