{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_6.css' %}">

    <title>Tw@ter</title>
  </head>

  <body>



    <div class="container">
        <div class=" row  mx-0 my-3 px-0 py-3 d-flex flex-md-row justify-content-center">

            <!-- Default form register start -->
            <form class="col-12 col-lg-4 section  mr-lg-2 p-3 mb-3 mb-lg-auto"
            method="POST" action="{% url 'login' %}">

            <div class="text-left title-3">
                Hello, apa kabar?
            </div>
            <br>
            {% csrf_token %}
            {{ form }}

            <br>
            <button class="btn btn-primary mb-0 " type="submit">Login</button>
            </form>

            {% comment %} <div class="section col-12 col-lg-5 ml-lg-2 p-3">
                {% for post in post_dict %}
                <div class="activity-card  mb-3 p-2">
                    <span class="font-weight-bold">{{ post.name }}</span><br>
                    {{ post.message }}
                    <p>{{ post.created_at|date:"D, d-m-Y G:i" }} <br></p>
                </div>
                {% endfor %}
            </div> {% endcomment %}

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>