{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_6.css' %}">

    <!-- Js & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_10.js' %}"></script>
    
    <title>Subscribe to My Website!</title>
  </head>

  <body>



    <div class="container">
        <div class="row mx-0 my-3 px-0 py-3 d-flex flex-md-row justify-content-center">

            <!-- Default div register start -->
            <div class="col-12 col-lg-4 section  mr-lg-2 p-3 mb-3 mb-lg-auto">
              {% for account in account_dict %}
                <div class="acc-card  mb-3 p-2">
                  <span class="font-weight-bold">{{ account.name }}</span><br>
                  {{ account.email }}
                  <br>
                  <button acc-id="{{ account.id }}" class="btn btn-danger unsub-btn" type="button">Unsubs</button>
                </div>
              {% endfor %}

            <br>
            </div>
        </div>
    </div>

  </body>

</html>