{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_6.css' %}">
    <link rel="stylesheet" href="{% static 'story_8.css' %}">
    <link id="dynamic-css" rel="stylesheet" href="{% static 'dynamic_blue.css' %}">

    <!-- Js & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_8.js' %}"></script>

    <title>Tw@ter</title>
  </head>

  <body>

    <div id="loader"></div>

    <div class="container animate-bottom">
      <div class="row px-3 theme-switch">
        <span class="p-3 btn-dark" rel="{% static 'dynamic_dark.css' %}">Night Mode</span>
        <span class="p-3 btn-primary" rel="{% static 'dynamic_blue.css' %}">Day Mode</span>  
      </div>

      <div class="row section mx-0 my-3 p-3 justify-content-center">
        <div class="accordion col-md-8 col-lg-6">
          {% for category, name in accordion %}
            <div class="acc-title">{{ name }}</div>
            <div class="acc-desc row justify-content-center">
              {% for content in category %}
                <div class="col-5 col-sm-3 my-1 my-auto">
                  <img class="img-fluid" src=../static/{{ content.img }}>
                </div>
                <div class="col-12 col-sm-9 my-1">
                  <div class="content-title">{{ content.title }}</div>
                  <p>{{ content.desc }}</p>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

  </body>

</html>
