{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_6.css' %}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_6.css' %}"></script>
    
    <title>Tw@ter</title>
  </head>

  <body>

  <div class="container ">      
    <div class="row md section full-height mx-0 my-3 px-0 py-5 d-flex flex-md-row justify-content-center">
    
      <!-- Home Profile -->
      <div class="media col-8 align-self-center justify-content-center">
        <div class="row  justify-content-center">
      <div class="col-md-5 align-self-center">
        <img class="img-fluid rounded align-self-center mr-3" title='Reyhan Alhafizal Hamidi' 
        data-toggle="tooltip" src="{% static 'reyhan.jpg' %}" alt="Profile Photo" width="100%">
      </div>
        <div class="media-body col-md-6 align-self-center">
          <h1 class="mt-0">Reyhan Alhafizal Hamidi</h1>
            <p id="desc">Second-year Computer Science student with passion on IT development. 
            Extremely motivated to learn new things and meet new people.</p>
        </div>
        </div>
      </div>
      
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="mb-0 ">
        <button type="button" onclick="location.href='profile/'" class="btn btn-primary">My Profile</button>
        <button type="button" onclick="location.href='twatter/'" class="btn btn-primary">Go to Tw@ter</button>
        <button type="button" onclick="location.href='library/'" class="btn btn-primary">Go to Library</button>
        <button type="button" onclick="location.href='subscription/'" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>

</html>