body{
    background-color: black;
}
.section {
    background-color: rgb(46, 46, 46);
}
.acc-title {
    background-color: #16191b;
    color: white;
}
.acc-desc {
    color: white;
}
p {
    color: white;    
}
.content-title {
    font-size: 1.1rem;
    color: antiquewhite;
}