.acc-title {
    margin: 0.5em;
    margin-bottom: 0em;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.acc-desc {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.7rem;
}
.content-title {
    font-size: 1.1rem;
    /* font-weight: 600; */
}

/* Loader */
.container {
    display: none;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

#myDiv {
display: none;
text-align: center;
}

/* Responsive stuff */
@media screen and (max-width: 576px) {
    
    .acc-desc {
        text-align: center;
    }
}